<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<!-- JS -->
<script src="/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">

		<form th:action="@{/login}" th:object="${user}" method="post">

			<br /> <br />

			<div class="row">

				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h1>Login Form</h1>
				</div>

				<div class="col-md-2"></div>

			</div>
			
			<!-- Email -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">

					<div class="form-group">
						<label for="id_email">Email</label> <input type="email"
							class="form-control" id="id_email" th:field="*{email}" required>
					</div>

				</div>
				<div class="col-md-2"></div>

			</div>


			<!-- Password -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">

					<div class="form-group">
						<label for="id_password">Password</label> <input type="password"
							class="form-control" id="id_password" th:field="*{password}"
							required>
					</div>

				</div>
				<div class="col-md-2"></div>

			</div>
			
			<!-- Button -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
				<div class="col-md-3"><a th:href="@{/register}">Sing Up</a></div>
				<div class="col-md-4"><label th:if="!${loginError}" style="color:red;">Email and Password is wrong!</label></div>
			</div>

		</form>
	</div>

</body>
</html>